@font-face {
  font-family: "Pricedown";
  src: url(pricedown\ bl.otf);
}
body{
  background-image: url(fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
width: 300px;
margin-bottom: -10px;
margin-top: -20px;
justify-content: center;
display: block;
}
p{
  margin-top: 20px;
  margin-left: 390px;
  margin-right: 20px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.56);
  font-family: 'Courier New', Courier, monospace;
}
h1{
  font-family: "Pricedown";
  font-size: 50px;
}
.fachada{
  width: 350px;
 float: left;
 display: block;
 margin-top: 100px;
}