@font-face {
  font-family: "Pricedown";
  src: url(pricedown\ bl.otf);
}
body{
  background-image: url(fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
  width: 300px;
  position: relative;
  right: 450px;
  justify-content: center;
  display: block;
}
.logo2{
  width: 300px;
  position: relative;
  justify-content: center;
  display: block;
}
.Cabeçalho li{
  display: inline;
  position: relative;
  margin-left: 20px;
  font-size: 20px;
  top: -65px;
  right: 80px;
}
.Cabeçalho2 li{
  display: inline;
  position: relative;
  margin-left: 20px;
  font-size: 20px;
  top: -65px;
  right: -328px;
}
li{
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}
.index p{
  margin-top: 20px;
  margin-left: 500px;
  margin-right: 120px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.56);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.index h1{
  font-family: "Pricedown";
  font-size: 50px;
  margin-top: 20px;
  margin-left: 500px;
  margin-right: 120px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.56);
}
.fachada{
  width: 450px;
  position: relative;
  top: 100px;
 float: left;
 display: block;
}
.inicio{
  display: block;
  margin-right: 1330px;
  margin-top: -50px;
  margin-bottom: 100px;
}
.inicio2 {
  color: whitesmoke;
  font-size: 20px;
}
.sobre{
  display: block;
  margin-right: 1330px;
  margin-top: -50px
}
#Inicio{
 color: whitesmoke;
}
.Cabeçalho a {
  color: whitesmoke;
  text-decoration: none;
}
.Cabeçalho2 a {
  color: whitesmoke;
  text-decoration: none;
}
.stand p{
  margin-top: 20px;
  color: whitesmoke;
  margin-right: 700px;
  background-color: rgba(0, 0, 0, 0.56);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.stand h1{
  display: block;
  font-family: "Pricedown";
  font-size: 50px;
  margin-right: 1250px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.56);
}
.Estande{
  width: 600px;
  position: relative;
  left: 1300px;
}
