@font-face {
  font-family: "Pricedown";
  src: url(pricedown\ bl.otf);
}
body{
  background-image: url(fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
width: 300px;
margin-bottom: -10px;
margin-top: -20px;
justify-content: center;
display: block;
}
p{
  margin-top: 20px;
  margin-left: 500px;
  margin-right: 120px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.56);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
h1{
  font-family: "Pricedown";
  font-size: 50px;
  margin-top: 20px;
  margin-left: 500px;
  margin-right: 120px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.56);
}
.fachada{
  width: 450px;
 float: left;
 display: block;
 margin-top: 100px;
}